<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LogoFX.Bootstrapping" version="1.7.1-rc3" targetFramework="monoandroid71" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.Contracts" version="1.1.1-rc2" targetFramework="monoandroid71" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.SimpleContainer" version="1.2.1-rc2" targetFramework="monoandroid71" />
  <package id="LogoFX.Client.Bootstrapping.Core" version="1.7.1-rc2" targetFramework="monoandroid71" />
  <package id="LogoFX.Core" version="1.1.1-rc2" targetFramework="monoandroid71" />
  <package id="LogoFX.Practices.IoC" version="1.1.1-rc2" targetFramework="monoandroid71" />
  <package id="Solid.Bootstrapping" version="1.2.1-rc3" targetFramework="monoandroid71" />
  <package id="Solid.Extensibility" version="1.2.1-rc2" targetFramework="monoandroid71" />
  <package id="Solid.Practices.Composition.Core" version="1.2.1-rc3" targetFramework="monoandroid71" />
  <package id="Solid.Practices.IoC" version="1.2.1-rc2" targetFramework="monoandroid71" />
  <package id="Solid.Practices.Middleware" version="1.2.1-rc2" targetFramework="monoandroid71" />
  <package id="Solid.Practices.Modularity" version="1.2.1-rc2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="monoandroid71" />
</packages>